/* .time-slot-container {
    position: absolute;
    right: 20px;
    width: auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}

.time-slot-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.time-slot-btn {
    width: 80px; 
    height: 80px; 
    background-color: yellow;
    font-size: 18px; 
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.time-slot-btn:hover {
    background-color: orange;
} */

.time-slot-container {
    position: absolute;
    right: 10px; 
    width: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

.time-slot-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px; 
}

.time-slot-btn {
    width: 50px;       
    height: 50px;      
    background-color: yellow;
    font-size: 12px;   
    font-weight: bold;
    text-align: center;
    border: 1px solid black; 
    cursor: pointer;
    transition: 0.3s;
    padding: 2px;
}

.time-slot-btn:hover {
    background-color: orange;
}

.time-slot-btn:disabled {
    color: white !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.reject-item {
    cursor: pointer;
}

/* CSS */
#rejsub {
    margin-left: 40%;
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #dee2e6; /* Border for the box */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a subtle 3D effect */
    max-height: 400px; /* Maximum height with scrolling */
    color: #333; /* Text color */
    width: 250px; /* Adjust the width as needed */
}


#rejsub .item:hover {
    background-color: #e9ecef; /* Background color on hover */
    color: black; /* Text color on hover */
    border: 1px solid #dee2e6; /* Border color on hover */
}



#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

