-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: knittingdb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `date_show_user`
--

DROP TABLE IF EXISTS `date_show_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `date_show_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `date_show_user`
--

LOCK TABLES `date_show_user` WRITE;
/*!40000 ALTER TABLE `date_show_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `date_show_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dyeing_batch_card`
--

DROP TABLE IF EXISTS `dyeing_batch_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dyeing_batch_card` (
  `DBCTID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT NULL,
  `BCMTID` varchar(30) DEFAULT NULL,
  `ROLL` varchar(50) NOT NULL,
  `PO_NUMBER` varchar(50) DEFAULT NULL,
  `RACK` varchar(50) DEFAULT NULL,
  `QTY` varchar(50) DEFAULT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `SHIFT` varchar(50) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `MCNO` varchar(100) DEFAULT NULL,
  `MCDIA` varchar(100) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `YTYPE` varchar(50) DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `SL` varchar(100) DEFAULT NULL,
  `FTYPE` varchar(50) DEFAULT NULL,
  `FGSM` varchar(20) DEFAULT NULL,
  `FDIA` varchar(20) DEFAULT NULL,
  `GGSM` varchar(20) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT_NO` varchar(100) DEFAULT NULL,
  `TPOINT` varchar(100) DEFAULT NULL,
  `MCODE` varchar(50) DEFAULT NULL,
  `MDESCRIPTION` varchar(200) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  `UNAME` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`DBCTID`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dyeing_batch_card`
--

LOCK TABLES `dyeing_batch_card` WRITE;
/*!40000 ALTER TABLE `dyeing_batch_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `dyeing_batch_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dyeing_batch_split`
--

DROP TABLE IF EXISTS `dyeing_batch_split`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dyeing_batch_split` (
  `SPLIT_ID` int(11) NOT NULL AUTO_INCREMENT,
  `ORIGINAL_BCMTID` varchar(30) DEFAULT NULL,
  `CARD_A` varchar(30) DEFAULT NULL,
  `CARD_B` varchar(30) DEFAULT NULL,
  `QTY_A` decimal(12,2) DEFAULT NULL,
  `QTY_B` decimal(12,2) DEFAULT NULL,
  `ROLL_A_COUNT` int(11) DEFAULT NULL,
  `ROLL_B_COUNT` int(11) DEFAULT NULL,
  `UNAME` varchar(100) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`SPLIT_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dyeing_batch_split`
--

LOCK TABLES `dyeing_batch_split` WRITE;
/*!40000 ALTER TABLE `dyeing_batch_split` DISABLE KEYS */;
INSERT INTO `dyeing_batch_split` VALUES (4,'4000000006','4000000006-A','4000000006-B',900.00,500.00,2,2,'admin','2026-08-20 05:13:31'),(6,'4000000004','4000000004-A','4000000004-B',720.00,340.00,2,2,'admin','2026-08-20 05:17:02');
/*!40000 ALTER TABLE `dyeing_batch_split` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knit_card`
--

DROP TABLE IF EXISTS `knit_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knit_card` (
  `KCTID` bigint(20) NOT NULL AUTO_INCREMENT,
  `KPTID` bigint(20) NOT NULL,
  `KNITCARD` bigint(20) NOT NULL,
  `MCNO` varchar(50) NOT NULL,
  `QTY` int(11) NOT NULL,
  `PO_NUMBER` varchar(50) NOT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `FGSM` varchar(20) DEFAULT NULL,
  `FDIA` varchar(20) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `FTYPE` varchar(50) DEFAULT NULL,
  `YTYPE` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `SL` varchar(100) DEFAULT NULL,
  `MCDIA` varchar(20) DEFAULT NULL,
  `GGSM` varchar(100) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `KNIT_MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `KNIT_M_DESCRIPTION` varchar(200) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  `UNAME` varchar(100) DEFAULT NULL,
  `UID` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`KCTID`)
) ENGINE=InnoDB AUTO_INCREMENT=2000000006 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knit_card`
--

LOCK TABLES `knit_card` WRITE;
/*!40000 ALTER TABLE `knit_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `knit_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knit_card_production`
--

DROP TABLE IF EXISTS `knit_card_production`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knit_card_production` (
  `KCPID` int(11) NOT NULL AUTO_INCREMENT,
  `KCID` int(11) NOT NULL,
  `LOG_DATE` date DEFAULT NULL,
  `A_SHIFT_QTY` decimal(10,2) DEFAULT 0.00,
  `B_SHIFT_QTY` decimal(10,2) DEFAULT 0.00,
  `C_SHIFT_QTY` decimal(10,2) DEFAULT 0.00,
  `PRODUCTION_QTY` decimal(10,2) DEFAULT 0.00,
  `CUM_TOTAL` decimal(10,2) DEFAULT 0.00,
  `BALANCE` decimal(10,2) DEFAULT 0.00,
  `OPERATOR_A` varchar(100) DEFAULT NULL,
  `OPERATOR_B` varchar(100) DEFAULT NULL,
  `OPERATOR_C` varchar(100) DEFAULT NULL,
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`KCPID`),
  KEY `KCID` (`KCID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knit_card_production`
--

LOCK TABLES `knit_card_production` WRITE;
/*!40000 ALTER TABLE `knit_card_production` DISABLE KEYS */;
/*!40000 ALTER TABLE `knit_card_production` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knit_card_test`
--

DROP TABLE IF EXISTS `knit_card_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knit_card_test` (
  `KCTID` int(11) NOT NULL AUTO_INCREMENT,
  `KPTID` int(11) NOT NULL,
  `MCARD` int(11) NOT NULL,
  `ROLL` int(11) NOT NULL,
  `MCNO` int(11) NOT NULL,
  `QTY` int(11) NOT NULL,
  `PO_NUMBER` varchar(50) NOT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `FGSM` varchar(20) DEFAULT NULL,
  `FDIA` varchar(20) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `FTYPE` varchar(50) DEFAULT NULL,
  `YTYPE` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `SL` varchar(100) DEFAULT NULL,
  `MCDIA` varchar(20) DEFAULT NULL,
  `GGSM` varchar(100) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `KNIT_MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `KNIT_M_DESCRIPTION` varchar(200) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  `UNAME` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`KCTID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knit_card_test`
--

LOCK TABLES `knit_card_test` WRITE;
/*!40000 ALTER TABLE `knit_card_test` DISABLE KEYS */;
/*!40000 ALTER TABLE `knit_card_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_input`
--

DROP TABLE IF EXISTS `knitting_input`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_input` (
  `KITID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT current_timestamp(),
  `PO_NUMBER` varchar(50) DEFAULT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `BUYER` varchar(50) DEFAULT NULL,
  `STYLE` varchar(50) DEFAULT NULL,
  `COLOR` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(50) DEFAULT NULL,
  `QTY` varchar(50) DEFAULT NULL,
  `FINISH_GSM` varchar(50) DEFAULT NULL,
  `FINISH_DIA` varchar(50) DEFAULT NULL,
  `OPEN_TUBE` varchar(50) DEFAULT NULL,
  `FABRICS_TYPE` varchar(50) DEFAULT NULL,
  `YARN_TYPE` varchar(50) DEFAULT NULL,
  `KNIT_MATERIAL_CODE` varchar(100) DEFAULT NULL,
  `KNIT_M_DESCRIPTION` varchar(255) DEFAULT NULL,
  `CBUDAT` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`KITID`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_input`
--

LOCK TABLES `knitting_input` WRITE;
/*!40000 ALTER TABLE `knitting_input` DISABLE KEYS */;
/*!40000 ALTER TABLE `knitting_input` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_inspection`
--

DROP TABLE IF EXISTS `knitting_inspection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_inspection` (
  `KITID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT NULL,
  `ROLL` varchar(100) DEFAULT NULL,
  `OQTY` varchar(100) DEFAULT NULL,
  `RQTY` varchar(100) DEFAULT NULL,
  `UQTY` varchar(100) DEFAULT NULL,
  `PO_NUMBER` varchar(100) DEFAULT NULL,
  `QTY` varchar(100) DEFAULT NULL,
  `SONO` varchar(100) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `MCNO` varchar(50) DEFAULT NULL,
  `MC_DIA` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `YTYPE` text DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `FTYPE` text DEFAULT NULL,
  `FGSM` varchar(50) DEFAULT NULL,
  `FDIA` varchar(50) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `SL` decimal(10,2) DEFAULT 0.00,
  `GGSM` varchar(100) DEFAULT NULL,
  `FPLAN` varchar(100) DEFAULT NULL,
  `LOTNO` varchar(100) DEFAULT NULL,
  `MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `M_DES` varchar(200) DEFAULT NULL,
  `TT` varchar(50) DEFAULT NULL,
  `PATTA` varchar(50) DEFAULT NULL,
  `SLUB` varchar(50) DEFAULT NULL,
  `YC_SPOT` varchar(50) DEFAULT NULL,
  `OILSPOT` varchar(50) DEFAULT NULL,
  `FF` varchar(50) DEFAULT NULL,
  `SEEDS` varchar(50) DEFAULT NULL,
  `MSTITCH` varchar(50) DEFAULT NULL,
  `SINKERMARK` varchar(50) DEFAULT NULL,
  `NEEDLEMARK` varchar(50) DEFAULT NULL,
  `LYCOUT` varchar(50) DEFAULT NULL,
  `OILLINE` varchar(50) DEFAULT NULL,
  `HOLE` varchar(50) DEFAULT NULL,
  `LOOP` varchar(50) DEFAULT NULL,
  `SETUP` varchar(50) DEFAULT NULL,
  `CMARK` varchar(50) DEFAULT NULL,
  `TPOINT` varchar(50) DEFAULT NULL,
  `QC_GRADE` varchar(50) DEFAULT NULL,
  `QC_STATUS` varchar(50) DEFAULT NULL,
  `UNAME` varchar(100) DEFAULT NULL,
  `UID` varchar(100) DEFAULT NULL,
  `P_CREATED` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`KITID`),
  UNIQUE KEY `uniq_roll` (`ROLL`),
  KEY `idx_roll` (`ROLL`),
  KEY `idx_po_number` (`PO_NUMBER`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_inspection`
--

LOCK TABLES `knitting_inspection` WRITE;
/*!40000 ALTER TABLE `knitting_inspection` DISABLE KEYS */;
INSERT INTO `knitting_inspection` VALUES (17,'2026-08-23','300000001','500.00','500.00','500','23-48329','500','4160027269','NEXT','470298K17','BIRCH AOP','FLAT-01','32*28','KTL','B','40/CTN MCL','40% CB ORG+20D/2','1*1 HF LYC RIB','250','69','OP',2.75,'180','GO TO KTL','KARIM-618','RIB|250|69|OP|K26010','K|YD|C|100CMBCTN|STONE WASH+PEACOAT','0','1','0','0','0','1','0','0','0','1','0','0','0','0','0','0','6','Grade A','Passed','Md. Karim','OP02','2026-08-23 16:41:46');
/*!40000 ALTER TABLE `knitting_inspection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_inspection_test`
--

DROP TABLE IF EXISTS `knitting_inspection_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_inspection_test` (
  `KITID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT NULL,
  `ROLL` varchar(100) DEFAULT NULL,
  `PO_NUMBER` varchar(100) DEFAULT NULL,
  `QTY` varchar(100) DEFAULT NULL,
  `SONO` varchar(100) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `MCNO` varchar(50) DEFAULT NULL,
  `MC_DIA` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `YTYPE` text DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `FTYPE` text DEFAULT NULL,
  `FGSM` varchar(50) DEFAULT NULL,
  `FDIA` varchar(50) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `SL` decimal(10,2) DEFAULT 0.00,
  `GGSM` varchar(100) DEFAULT NULL,
  `FPLAN` varchar(100) DEFAULT NULL,
  `LOTNO` varchar(100) DEFAULT NULL,
  `MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `M_DES` varchar(200) DEFAULT NULL,
  `TT` varchar(50) DEFAULT NULL,
  `PATTA` varchar(50) DEFAULT NULL,
  `SLUB` varchar(50) DEFAULT NULL,
  `YC_SPOT` varchar(50) DEFAULT NULL,
  `OILSPOT` varchar(50) DEFAULT NULL,
  `FF` varchar(50) DEFAULT NULL,
  `SEEDS` varchar(50) DEFAULT NULL,
  `MSTITCH` varchar(50) DEFAULT NULL,
  `SINKERMARK` varchar(50) DEFAULT NULL,
  `NEEDLEMARK` varchar(50) DEFAULT NULL,
  `LYCOUT` varchar(50) DEFAULT NULL,
  `OILLINE` varchar(50) DEFAULT NULL,
  `HOLE` varchar(50) DEFAULT NULL,
  `LOOP` varchar(50) DEFAULT NULL,
  `SETUP` varchar(50) DEFAULT NULL,
  `CMARK` varchar(50) DEFAULT NULL,
  `TPOINT` varchar(50) DEFAULT NULL,
  `UNAME` varchar(100) DEFAULT NULL,
  `UID` varchar(100) DEFAULT NULL,
  `I_CREATED` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`KITID`),
  KEY `idx_roll` (`ROLL`),
  KEY `idx_po_number` (`PO_NUMBER`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_inspection_test`
--

LOCK TABLES `knitting_inspection_test` WRITE;
/*!40000 ALTER TABLE `knitting_inspection_test` DISABLE KEYS */;
/*!40000 ALTER TABLE `knitting_inspection_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_operator`
--

DROP TABLE IF EXISTS `knitting_operator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_operator` (
  `KOTID` int(11) NOT NULL AUTO_INCREMENT,
  `OPERATOR_ID` varchar(20) NOT NULL,
  `OPERATOR_NAME` varchar(100) NOT NULL,
  `OPERATOR_EMAIL` varchar(100) DEFAULT NULL,
  `OPERATOR_PASSWORD` varchar(255) NOT NULL,
  `CREATED` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`KOTID`),
  UNIQUE KEY `UK_OPERATOR_ID` (`OPERATOR_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_operator`
--

LOCK TABLES `knitting_operator` WRITE;
/*!40000 ALTER TABLE `knitting_operator` DISABLE KEYS */;
/*!40000 ALTER TABLE `knitting_operator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_production`
--

DROP TABLE IF EXISTS `knitting_production`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_production` (
  `PID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT NULL,
  `ROLL` varchar(100) DEFAULT NULL,
  `PO_NUMBER` varchar(100) DEFAULT NULL,
  `PQTY` decimal(10,2) DEFAULT 0.00,
  `SONO` varchar(100) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `MCNO` varchar(50) DEFAULT NULL,
  `MC_DIA` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `YARN_TYPE` text DEFAULT NULL,
  `YARN_COUNT` varchar(100) DEFAULT NULL,
  `FABRICS_TYPE` text DEFAULT NULL,
  `FINISH_GSM` varchar(50) DEFAULT NULL,
  `FINISH_DIA` varchar(50) DEFAULT NULL,
  `OPEN_TUBE` varchar(20) DEFAULT NULL,
  `SL_VDQ` decimal(10,2) DEFAULT 0.00,
  `GRAY_GSM` varchar(100) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT_NO` varchar(100) DEFAULT NULL,
  `KNIT_MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `KNIT_M_DES` varchar(200) DEFAULT NULL,
  `UNAME` varchar(100) DEFAULT NULL,
  `UID` varchar(100) DEFAULT NULL,
  `CREATED_AT` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`PID`),
  KEY `ROLL` (`ROLL`),
  KEY `PO_NUMBER` (`PO_NUMBER`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_production`
--

LOCK TABLES `knitting_production` WRITE;
/*!40000 ALTER TABLE `knitting_production` DISABLE KEYS */;
INSERT INTO `knitting_production` VALUES (32,'2026-08-23','300000001','23-48329',500.00,'4160027269','NEXT','470298K17','BIRCH AOP','FLAT-01','32*28','KTL','B','40/CTN MCL','40% CB ORG+20D/2','1*1 HF LYC RIB','250','69','OP',2.75,'180','GO TO KTL','KARIM-618','RIB|250|69|OP|K26010','K|YD|C|100CMBCTN|STONE WASH+PEACOAT','Md. Karim','OP02','2026-08-23 10:34:48');
/*!40000 ALTER TABLE `knitting_production` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_program`
--

DROP TABLE IF EXISTS `knitting_program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_program` (
  `KPTID` int(11) NOT NULL AUTO_INCREMENT,
  `PROGRAM_NO` bigint(20) NOT NULL,
  `PO_NUMBER` varchar(50) NOT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `QTY` varchar(100) DEFAULT NULL,
  `FGSM` varchar(20) DEFAULT NULL,
  `FDIA` varchar(20) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `FTYPE` varchar(50) DEFAULT NULL,
  `YTYPE` varchar(50) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `SL` varchar(100) DEFAULT NULL,
  `MCDIA` varchar(20) DEFAULT NULL,
  `GGSM` varchar(100) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT` varchar(100) DEFAULT NULL,
  `SHIFT` varchar(100) DEFAULT NULL,
  `KNIT_MATERIAL_CODE` varchar(50) DEFAULT NULL,
  `KNIT_M_DESCRIPTION` varchar(200) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  `UNAME` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`KPTID`),
  KEY `idx_kp_program_no` (`PROGRAM_NO`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_program`
--

LOCK TABLES `knitting_program` WRITE;
/*!40000 ALTER TABLE `knitting_program` DISABLE KEYS */;
/*!40000 ALTER TABLE `knitting_program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knitting_store`
--

DROP TABLE IF EXISTS `knitting_store`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knitting_store` (
  `KSTID` int(11) NOT NULL AUTO_INCREMENT,
  `BUDAT` date DEFAULT NULL,
  `RACKNO` varchar(50) DEFAULT NULL,
  `RACKLOCATION` varchar(100) DEFAULT NULL,
  `ROLL` varchar(50) NOT NULL,
  `PO_NUMBER` varchar(50) NOT NULL,
  `QTY` varchar(50) NOT NULL,
  `SONO` varchar(50) DEFAULT NULL,
  `SHIFT` varchar(50) NOT NULL,
  `BUYER` varchar(100) DEFAULT NULL,
  `STYLE` varchar(100) DEFAULT NULL,
  `COLOR` varchar(100) DEFAULT NULL,
  `MCNO` varchar(100) DEFAULT NULL,
  `MCDIA` varchar(100) DEFAULT NULL,
  `CUSTOMER` varchar(100) DEFAULT NULL,
  `YTYPE` varchar(50) DEFAULT NULL,
  `YCOUNT` varchar(100) DEFAULT NULL,
  `O_T` varchar(20) DEFAULT NULL,
  `SL` varchar(100) DEFAULT NULL,
  `FTYPE` varchar(50) DEFAULT NULL,
  `FGSM` varchar(20) DEFAULT NULL,
  `FDIA` varchar(20) DEFAULT NULL,
  `GGSM` varchar(20) DEFAULT NULL,
  `FEEDER_PLAN` varchar(100) DEFAULT NULL,
  `LOT_NO` varchar(100) DEFAULT NULL,
  `TPOINT` varchar(100) DEFAULT NULL,
  `MCODE` varchar(50) DEFAULT NULL,
  `MDESCRIPTION` varchar(200) DEFAULT NULL,
  `CREATED_DATE` timestamp NOT NULL DEFAULT current_timestamp(),
  `UNAME` varchar(100) DEFAULT NULL,
  `UID` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`KSTID`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knitting_store`
--

LOCK TABLES `knitting_store` WRITE;
/*!40000 ALTER TABLE `knitting_store` DISABLE KEYS */;
INSERT INTO `knitting_store` VALUES (45,'2026-08-23','20','A1','300000001','23-48329','500','4160027269','B','NEXT','470298K17','BIRCH AOP','FLAT-01','32*28','KTL','40/CTN MCL','40% CB ORG+20D/2','OP','2.75','1*1 HF LYC RIB','250','69','180','GO TO KTL','KARIM-618','6','RIB|250|69|OP|K26010','K|YD|C|100CMBCTN|STONE WASH+PEACOAT','2026-08-23 10:46:20','main user','admin');
/*!40000 ALTER TABLE `knitting_store` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mcno`
--

DROP TABLE IF EXISTS `mcno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mcno` (
  `MCNOID` int(11) NOT NULL AUTO_INCREMENT,
  `MCNO` varchar(50) DEFAULT NULL,
  `CBUDAT` date DEFAULT curdate(),
  PRIMARY KEY (`MCNOID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mcno`
--

LOCK TABLES `mcno` WRITE;
/*!40000 ALTER TABLE `mcno` DISABLE KEYS */;
INSERT INTO `mcno` VALUES (1,'FLAT-01','2026-07-19'),(2,'FLAT-02','2026-07-19'),(3,'FLAT-03','2026-07-19'),(4,'FLAT-04','2026-07-19'),(5,'FLAT-05','2026-07-19'),(6,'K-M/C-001','2026-07-19'),(7,'K-M/C-002','2026-07-19'),(8,'K-M/C-003','2026-07-19'),(9,'K-M/C-004','2026-07-19'),(10,'K-M/C-005','2026-07-19');
/*!40000 ALTER TABLE `mcno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `USER_NAME` varchar(10) NOT NULL,
  `USER_ID` varchar(10) NOT NULL DEFAULT '',
  `email` varchar(50) NOT NULL DEFAULT 'sarwar.alam@purbanigroup.com',
  `password` varchar(100) NOT NULL,
  `created` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=143 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-24 16:33:38
